* {
    background-color: #243119;
    font-family: Gotham Rounded, sans-serif;
}

#display{
    border-radius: 5px;
    /* display: none; */
    /* border: 1px solid yellow; */
    background-color: #96BE8C;
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   }
   
h5,h3 {
    cursor: copy;
    /* border: 1px solid black; */
    text-align: end;
    margin: 20px;
    user-select: all;
    /* font-family: poppins; */
   }
   h5{
    /* margin-top: 50px; */
    color:#96BE8C;
    font-size: 1.1em;
   }
   h3{
    font-size: 2em;
   }

.calculator {
    background-color: #243119;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    border: solid 1px #1e2914;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-top: 40px; 
}

#output {
    color: #2c8d1a;
    padding: 20px;
    width: 90%;
    font-size: 24px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3) inset;
    border-radius: 5px;
}   

.calc-buttons, #output {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-gap: 3px;
    grid-template-columns: repeat(4, 100px);
}
    
    .calc-buttons > button {
        border: solid 1px #1e2914;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        cursor: pointer;
        background-color: #96BE8C; 
        border: none; 
        border-radius: 3px; 
        color: #C9F2C7;
        font-size: 28px;
        font-weight: 300;
    }

    .calc-buttons .operation, #cancel, #delete {
        background-color: #629460; 
        }
    
        .calc-buttons .operation:hover, #cancel:hover, #delete:hover {
            background-color: #96BE8C;
        }

        .calc-buttons > button:hover {
            background-color: #629460;
        }