* {
    background-color: #243119;
    font-family: Gotham Rounded, sans-serif;
}

.calculator {
    background-color: #243119;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    border: solid 1px #1e2914;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-top: 40px; 
}

#output {
    color: #2c8d1a;
    padding: 20px;
    width: 90%;
    font-size: 24px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3) inset;
    border-radius: 5px;
}   

.calc-buttons, #output {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-gap: 3px;
    grid-template-columns: repeat(4, 100px);
}
    
    .calc-buttons > button {
        cursor: pointer;
        background-color: #96BE8C; 
        border: none; 
        border-radius: 3px; 
        color: #C9F2C7;
        font-size: 28px;
        font-weight: 300;
    }

    .calc-buttons .operation {
        background-color: #629460; 
        }
    
        .calc-buttons .operation:hover {
            background-color: #96BE8C;
        }

        .calc-buttons > button:hover {
            background-color: #629460;
        }